<div *ngIf="!chatLoaded" class="flex flex-col w-full p-4">
  <p>Loading chat...</p>
</div>

<div *ngIf="chatLoaded" class="flex flex-col w-full p-4">
  <div class="flex flex-col w-full h-96 overflow-y-auto">
    <div *ngFor="let message of messages" class="flex flex-row w-full p-2">
      <div
        class="flex flex-col p-2 border border-gray-300 rounded"
        [ngClass]="{
          'bg-gray-200': message.type === 'model',
          'bg-blue-200': message.type === 'user'
        }"
      >
        <p>{{ message.message }}</p>
        <small>{{ message.type }}</small>
      </div>
    </div>
  </div>
  <form
    class="flex flex-row w-full"
    [formGroup]="form"
    (ngSubmit)="sendMessage()"
  >
    <input
      pInputText
      class="flex-1 p-2 border border-gray-300 rounded"
      type="text"
      placeholder="Type a message..."
      formControlName="message"
    />
    <button pButton type="submit">Send</button>
  </form>
</div>
