<p-toast baseZIndex="9999999" position="top-right"></p-toast>
<div class="flex flex-col w-full h-full justify-center items-center text-mainContentText">
  <div *ngIf="loading">
    <p-progress-spinner
      strokeWidth="8"
      fill="transparent"
      animationDuration=".5s"
      [style]="{ width: '50px', height: '50px' }"
    />
  </div>
  <div *ngIf="!loading" class="w-full max-w-6xl p-5 mx-20 flex flex-col justify-center h-full">
    <div class="flex flex-row items-center gap-4">
      <img class="w-10 h-10" src="icons/app-icon.svg" alt="Logo" />
      <h1 class="my-2 font-bold text-4xl">Bienvenido a Llamatron</h1>
    </div>
    <p *ngIf="!modelLoaded">
      Por favor, seleccione un modelo de lenguaje para comenzar a usar la aplicación.
    </p>
    <div *ngIf="!modelLoaded" class="border border-greyBorder p-5 rounded-md mt-10">
      <section class="text-justify">
        <header class="font-bold pb-3">
          <h1 class="text-xl">Modelo remoto</h1>
        </header>
        <main class="pb-10">
          <p>
            Opción recomendada para equipos con poca memoria de GPU. Seleccione esta opción si su
            equipo no es capaz de ejecutar un modelo localmente.
          </p>
        </main>
        <footer class="flex justify-between gap-2">
          <input
            pInputText
            type="text"
            placeholder="Together AI API Key"
            class="border border-greyBorder rounded-md w-full p-2"
            [(ngModel)]="togetherApiKey"
          />
          <app-button (click)="loadRemoteModel()" label="Cargar" />
        </footer>
      </section>
    </div>
    <div *ngIf="!modelLoaded" class="border border-greyBorder p-5 rounded-md mt-5 overflow-auto">
      <section class="text-justify">
        <header class="font-bold pb-3">
          <h1 class="text-xl">Modelo local</h1>
        </header>
        <main>
          <p>Seleccione un modelo de lenguaje local para comenzar a usar la aplicación.</p>
          <p *ngIf="gpuTier < minTier" class="text-warning my-2 font-bold">
            Advertencia: Su equipo tiene una memoria de GPU baja. Se recomienda utilizar un modelo
            en remoto para evitar problemas de rendimiento.
          </p>
          <details class="mt-5 mb-5">
            <summary class="text-slate-500 text-sm font-bold cursor-pointer">
              DEVELOPER CONFIGURATION
            </summary>
            <textarea
              class="w-full h-40 border border-greyBorder p-5 rounded-md mt-2"
              [(ngModel)]="config"
            >
            </textarea>
          </details>
        </main>
        <footer class="flex justify-end">
          <app-button
            [icon]="isSelectingModel ? 'spinner animate-spin' : 'file'"
            (click)="selectModel()"
            [label]="
              isSelectingModel
                ? ('CONFIG.LOADING_MODEL' | translate)
                : ('CONFIG.LOAD_MODEL' | translate)
            "
          />
        </footer>
      </section>
    </div>
    <div *ngIf="modelLoaded" class="my-5 flex flex-col gap-2">
      <h3 class="font-bold">Modelo seleccionado</h3>
      <div class="flex flex-row items-center gap-2">
        <p class="text-secondaryText">{{ modelName }} ({{ isRemoteModel ? 'Remoto' : 'Local' }})</p>
        <button
          [title]="'Cambiar modelo'"
          class="cursor-pointer p-1 px-2 rounded-md text-secondaryText hover:bg-iconHover hover:text-red-300"
          (click)="resetModel()"
        >
          <i class="pi pi-trash"></i>
        </button>
      </div>

      <div class="flex flex-wrap gap-4 items-center justify-center my-10">
        <button
          *ngFor="let exampleButton of exampleButtons"
          class="p-2 px-4 rounded-2xl bg-secondaryButtonBg text-secondaryButtonText hover:bg-secondaryButtonBgHover cursor-pointer border border-secondaryButtonBg"
          (click)="onExampleButtonClick(exampleButton)"
        >
          <i *ngIf="exampleButton.type === 'plugin'" class="pi pi-bolt"></i>
          {{ exampleButton.title }}
        </button>
      </div>
    </div>

    <!--<label
      *ngIf="appConfig && appConfig.publicKey"
      class="block text-slate-500 text-sm font-bold my-4"
    >
      PK: {{ appConfig.publicKey }}
    </label>-->
  </div>
  <!-- INPUT CHAT (bottom of page) -->
  <form
    *ngIf="!loading && modelLoaded"
    class="w-full flex flex-col gap-2 max-w-6xl p-5 mx-20"
    [formGroup]="form"
    (ngSubmit)="sendMessage()"
  >
    <div class="flex flex-row gap-2 items-center rounded-4xl bg-chatInputBg p-4 shadow-2xl w-full">
      <input
        #chatInputField
        type="text"
        placeholder="Pregunta lo que quieras..."
        formControlName="message"
        class="w-full border-0 outline-none bg-transparent text-mainContentText"
        required
      />
      <button
        title="Enviar mensaje"
        class="text-primaryButtonText cursor-pointer px-2 hover:text-primaryButtonTextHover hover:scale-110 transition-transform duration-200"
        type="submit"
      >
        <i class="pi pi-arrow-up"></i>
      </button>
    </div>
  </form>

  <!-- <app-button
    icon="power-off"
    (click)="testElectron()"
    [label]="'CONFIG.ELECTRON_TEST' | translate"
  /> -->

  <!-- <div class="flex flex-col gap-2 w-[30rem]">
    <div class="flex flex-row gap-2 items-center justify-between">
      <p-button (click)="testElectron()">{{ 'CONFIG.ELECTRON_TEST' | translate }}</p-button>
      <p-tag
        *ngIf="electronTest === undefined"
        [value]="'COMMON.NONE' | translate"
        class="uppercase"
        severity="contrast"
      ></p-tag>
      <p-tag
        *ngIf="electronTest === true"
        [value]="'COMMON.OK' | translate"
        class="uppercase"
        severity="success"
      ></p-tag>
      <p-tag
        *ngIf="electronTest === false"
        [value]="'COMMON.ERROR' | translate"
        class="uppercase"
        severity="danger"
      ></p-tag>
    </div>
  </div> -->

  <!-- <div class="flex flex-col gap-2 w-[30rem]">
    <div class="flex flex-row gap-2 items-center justify-between">
      <p-button
        (click)="selectModel()"
        icon="pi pi-file-arrow-up"
        [label]="modelName ? modelName : ('CONFIG.LOAD_MODEL' | translate)"
      />
      <p-tag
        *ngIf="modelLoaded === undefined"
        [value]="'COMMON.NONE' | translate"
        class="uppercase"
        severity="contrast"
      ></p-tag>
      <p-tag
        *ngIf="modelLoaded === null"
        [value]="'COMMON.LOADING' | translate"
        class="uppercase"
        severity="info"
      ></p-tag>
      <p-tag
        *ngIf="modelLoaded === true"
        [value]="'COMMON.OK' | translate"
        class="uppercase"
        severity="success"
      ></p-tag>
      <p-tag
        *ngIf="modelLoaded === false"
        [value]="'COMMON.ERROR' | translate"
        class="uppercase"
        severity="danger"
      ></p-tag>
    </div>
  </div> -->
</div>
