<div class="h-full flex flex-col transition-[width] ease-in-out duration-300 p-3">
  <!-- toggle button -->
  <div class="flex-none">
    <button
      class="cursor-pointer p-3 border border-slate-400 rounded-md"
      (click)="topggleSidebarCollapse()"
    >
      <i class="pi pi-bars"></i>
    </button>
  </div>
  <!-- Menu -->
  <div class="flex-1 flex justify-items-center items-center">
    <ul class="list-none m-0">
      <li *ngFor="let mainRoute of mainRoutes" class="mb-3">
        <ul class="list-none p-0 m-0 overflow-hidden">
          <li *ngFor="let route of mainRoute.routes" class="mb-2">
            <app-nav-link
              [isCollapsed]="sidebarCollapsed"
              [isActive]="isRouteActive(route)"
              [label]="route.title | translate"
              [primeIcon]="route.icon"
              [routerLink]="route.path"
              [queryParams]="route.params"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Configuration button -->
  <div class="flex-none">
    <app-nav-link
      [isCollapsed]="sidebarCollapsed"
      [isActive]="isRouteActive(configRoute)"
      [label]="configRoute.title | translate"
      [primeIcon]="configRoute.icon"
      [routerLink]="configRoute.path"
      [queryParams]="configRoute.params"
    />
  </div>
</div>
