@import 'tailwindcss';

@theme {
  --color-sidebarBg: #101524;
  --color-sidebarText: white;
  --color-mainContentBg: #101523;
  --color-mainContentText: white;
  --color-greyBorder: #2c2f33;
  --color-iconHover: #232734;
  --color-warning: #f59e0b;
  --color-primaryButtonBg: #1d2439;
  --color-primaryButtonText: var(--color-white);
  --color-secondaryText: #a1a1aa;

  --color-primaryButtonBgHover: #252936;
  --color-primaryButtonTextHover: var(--color-white);

  --color-primaryButtonDisabledBg: var(--color-slate-300);
  --color-primaryButtonDisabledText: var(--color-white);

  --color-secondaryButtonBg: #323f60;
  --color-secondaryButtonText: white;
  --color-secondaryButtonBgHover: #101524;
  --color-secondaryButtonTextHover: white;
  --color-secondaryButtonDisabledBg: var(--color-white);
  --color-secondaryButtonDisabledText: var(--color-slate-300);

  --color-chatInputBg: #1c2234;
  --spacing-sidebarW: '200px';

  /* Chat */
  --color-chatModelMessageBg: var(--color-slate-500);
  --color-chatModelMessageText: var(--color-slate-50);
  --color-chatUserMessageBg: var(--color-slate-50);
  --color-chatUserMessageText: var(--color-slate-700);
}

.p-toast-detail {
  color: white !important;
}

a {
  text-decoration: none;
}

markdown {
  p {
    margin: 0;
  }
}

/* AgGrid related */
.ag-header {
  background-color: var(--color-slate-500);
  color: var(--color-slate-200);
}

.ag-body,
.ag-viewport,
.ag-row-even {
  background-color: var(--color-slate-300);
}

.ag-row-odd {
  background-color: var(--color-slate-200);
}

/* workSpaceDetailChats table */
.workSpaceDetailChats .ag-root-wrapper,
.workSpaceDetailChats .ag-header,
.workSpaceDetailChats .ag-body,
.workSpaceDetailChats .ag-viewport,
.workSpaceDetailChats .ag-row-even,
.workSpaceDetailChats .ag-row-odd {
  background-color: transparent;
  color: var(--color-slate-500);
}

.workSpaceDetailChats .ag-root-wrapper {
  border-radius: unset;
}

.workSpaceDetailChats .ag-header {
  font-weight: 600;
  background-color: var(--color-slate-300);
}

/* SCROLL BAR RELATED */
@media (pointer: none), (pointer: coarse) {
  *::-webkit-scrollbar {
    display: none;
  }
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: var(--color-slate-300);
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--color-slate-600);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--color-slate-400);
}
